@font-face {
    font-family: 'Halimun';
    src: url("font/Halimun.ttf"); }

@font-face {
    font-family: 'Montserrat';
    src: url("font/Montserrat-Bold.otf"); }
    
@font-face {
    font-family: 'Hairline';
    src: url("font/Montserrat-Light.ttf"); }


p{
color: $primary-color;
}

h4 {
    @media screen and (max-width: 39.9375em) {
        font-size: 1.5rem;
    }
}